:root {
    --bgcolor_cover: #743286;
}

.landscape80s {
    position: absolute;
    left: 0;
    top: 0;
    background: url("../assets/background_80s.jpg") var(--bgcolor_cover);
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 1s;
    z-index: -2;
}

.cover_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    width: 400px;
    height: 400px;
    background: url("../assets/cover.jpg") var(--bgcolor_cover);
    background-size: cover;
    box-shadow: #1b1b1b 0 0 10px inset;
}

.vinyl {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -195px;
    margin-top: -195px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 390px;
    height: 390px;
    background: repeating-radial-gradient(#1d1d1d00, #1d1d1d00 4px, #3a3a39 5px, #1d1d1d00 6px), linear-gradient(to right, #111 40%, #464646 50%, #111 60%);
    background-size: 100% 100%;
    border-radius: 50%;
    z-index: -1;
    transition: all 1s;
    animation: rotation 4s infinite linear;
}

.cover_box:active + .vinyl {
    left: 65%;
}

.cover_box:active ~ .landscape80s {
    animation: zoom_inout 0.7s alternate infinite linear;
}

.label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 120px;
    background: url("../assets/label.jpg") #1b1b1b;
    background-size: cover;
    border-radius: 50%;
}

.hole {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes zoom_inout {
    from {
        background-size: 100%;
    }

    to {
        background-size: 102%;
    }
}
